<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right pull-right counter-offcanvas row" id="js-bootstrap-offcanvas">
    <h3 class="">&nbsp;</h3>
    <fieldset class="col-xs-12 counter-widget" id="counter-side-menu">
        <legend class="text-center">Menu</legend>
        <div class="col-xs-12 off-canvas-list">
            <a href="/" target="_self" class="col-xs-12 off-canvas-list-item link-dashboard">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-home"></i></div>Dashboard</a>
            <a href="/game" target="_self" class="col-xs-12 off-canvas-list-item link-add-game">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-play-circle"></i></div>Game</a>
            <a href="/patron" target="_self" class="col-xs-12 off-canvas-list-item link-add-patron">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-star"></i></div>Patron</a>
            <a href="/account" target="_self" class="col-xs-12 off-canvas-list-item link-my-account">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-user"></i></div>My Account</a>
            <a href="/organization" target="_self" class="col-xs-12 off-canvas-list-item link-organization-settings">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-cloud"></i></div>Organization</a>
            <a href="/reports" target="_self" class="col-xs-12 off-canvas-list-item link-reports">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-file"></i></div>Reports</a>
            <a href="/logout" target="_self" class="col-xs-12 off-canvas-list-item link-logout">
                <div class="col-xs-3 col-lg-2"><i class="glyphicon glyphicon-log-out"></i></div>Logout</a>
        </div>
    </fieldset>
</div>
