<section class="beta">
    <div class="col-xs-12">
        <button type="button" class="btn senary add" ng-click="onBack('details')"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
        <button type="button" ng-show="admin" class="btn senary edit" ng-click="onEdit()"><i class="glyphicon glyphicon-pencil"></i></button>
        <h3 class="text-center">Patron Details</h3>
    </div>
    <div class="col-xs-12">
        <span ng-if="addPatronDetailForm.$dirty && addPatronDetailForm.$valid" class="help-block">Save...</span>
        <form class="counter-form" data-toggle="validator" role="form" name="addPatronDetailForm" ng-init="pCtrl.initDetails()" auto-save-form="pCtrl.saveForm()">
            <div class="form-group" show-errors>
                <input type="text" id="patron-first-name" name="firstName" class="form-control" pattern="^[_A-z]{1,}$" placeholder="Frist Name *" ng-model="patronModel.first_name" ng-disabled="!allowEdit" required>
                <div class="help-block" ng-if="addPatronDetailForm.firstName.$error.required">First name is required</div>
                <div class="help-block" ng-if="addPatronDetailForm.firstName.$error && !addPatronDetailForm.firstName.$error.required">First name contains invalid characters</div>
            </div>
            <div class="form-group" show-errors>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name *" pattern="^[_A-z]{1,}$" ng-model="patronModel.last_name" ng-disabled="!allowEdit" required>
                <div class="help-block" ng-if="addPatronDetailForm.lastName.$error.required">Last name is required</div>
                <div class="help-block" ng-if="addPatronDetailForm.lastName.$error && !addPatronDetailForm.lastName.$error.required">Last name contains invalid characters</div>
            </div>
            <div class="form-group" show-errors>
                <input type="email" class="form-control" name="emailAddress" placeholder="Enter email *" ng-model="patronModel.email_address" ng-disabled="!allowEdit" required>
                <div class="help-block" ng-if="addPatronDetailForm.emailAddress.$error.required">Email address is required</div>
                <div class="help-block" ng-if="addPatronDetailForm.emailAddress.$error && !addPatronDetailForm.emailAddress.$error.required">Email address is invalid</div>
            </div>
            <div class="input-group">
                <a class="input-group-addon btn secondary" ng-click="pCtrl.onEditPassword(addPatronDetailForm)" ng-disabled="!allowEdit">Change Password</a>
                <input type="password" class="form-control" name="password" placeholder="password *" ng-model="patronModel.password" disabled />
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6" show-errors>
                    <div class="input-group counter-group">
                        <div class="input-group-addon">Date of birth</div>
                        <input type="date" class="form-control" name="dateOfBirth" placeholder="date of birth" ng-model="patronModel.dob" ng-disabled="!allowEdit" required/>
                    </div>
                    <div class="help-block" ng-if="addPatronDetailForm.dateOfBirth.$error.required">Date of birth is required</div>
                </div>
                <div class="form-group col-xs-12 col-md-6" show-errors>
                    <div class="input-group counter-group">
                        <div class="input-group-addon">Phone</div>
                        <input type="number" class="form-control" ng-minlength="10" ng-maxlength="11" name="phone" placeholder="phone" ng-model="patronModel.phone" ng-disabled="!allowEdit" />
                    </div>
                    <div class="help-block" ng-show="((addPatronDetailForm.phone.$error.minlength || addPatronDetailForm.phone.$error.maxlength) && addPatronDetailForm.phone.$dirty)">phone number should be '1231231234' or '18001231234' formate</div>
                </div>
            </div>
            <fieldset class="counter-widget">
                <legend>Address</legend>
                <div class="col-xs-12">&nbsp;</div>
                <button class="btn senary add" ng-click="pCtrl.onAddAddress('details')" ng-show="!(addressArr.length > 0) && allowEdit" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                <ul ng-repeat="address in addressArr" class="address-list col-xs-12">
                    <li class="address-list-item col-xs-12 text-size-small">
                        <button type="button" ng-show="allowEdit" class="btn close quinary" ng-click="pCtrl.removeAddress($index, 'details')">&times;</button>
                        <div class="col-xs-8 col-sm-9 col-md-10 address-info row">
                            <div class="col-xs-12"><span>{{address.street_number}}&nbsp;{{address.route}}</div>
                            <div class="col-xs-12"><span>City:&nbsp;</span>{{address.locality}}</div>
                            <div class="col-xs-12"><span>State:&nbsp;</span>{{address.administrative_area_level_1}}</div>
                            <div class="col-xs-12"><span>Country:&nbsp;</span>{{address.country}}</div>
                            <div class="col-xs-12"><span>Postal&nbsp;Code:&nbsp;</span>{{address.postal_code}}</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </li>
                </ul>
                <div class="col-xs-12">&nbsp;</div>
            </fieldset>
            <div class="col-xs-12">&nbsp;</div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4">
                        <button class="btn btn-block septenary" ng-show="allowEdit" name="delete" ng-disabled="!allowEdit" type="button" ng-click="pCtrl.onDelete()">Delete!</button>
                    </div>
                    <div class="col-xs-8">&nbsp;</div>
                </div>
            </div>
        </form>
    </div>
</section>
