<script type="text/ng-template" id="employee-password-reset-modal.html" class="counter-modal">
    <div id="employee-password-reset" class="counter-modal" ng-init="mCtrl.initEmployeeResetPasswordModal()">
        <div class="model-tmpl-0">
            <form ng-submit="mCtrl.onSubmit()" class="counter-form" data-toggle="validator" role="form" name="resetPasswordForm">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Reset Password</h4>
                    <button type="button" class="btn close quinary" ng-click="mCtrl.cancel()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">A reset email will be send a to employee {{ employeeModel.first_name }}&nbsp;{{ employeeModel.last_name }}. Please manually type the employee's email address to confirm the password reset.</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="form-group" show-errors>
                        <input type="email" class="form-control" name="emailAddress" placeholder="Email *" ng-model="resetPasswordModel.email_address" required>
                        <div class="help-block" ng-if="resetPasswordForm.emailAddress.$error.required">Email address is required</div>
                        <div class="help-block" ng-if="resetPasswordForm.emailAddress.$error && !resetPasswordForm.emailAddress.$error.required">Email address is invalid</div>
                        <div class="msg-block" ng-if="mCtrl.isEmailCorrect(resetPasswordForm) && !resetPasswordForm.emailAddress.$error.required">Email does not match employee email!</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-3 col-sm-4">&nbsp;</div>
                        <div class="col-xs-6 col-sm-4">
                            <button class="btn btn-block primary" type="submit" ng-disabled="resetPasswordForm.$invalid || mCtrl.isEmailCorrect(resetPasswordForm)">Submit</button>
                        </div>
                        <div class="col-xs-3 col-sm-4">&nbsp;</div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <small>(After submitting the employee will no longer be able to login with their old password)</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
