<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center">Change Password</h1></div>
    </row>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>Contact<%- contentFor('end') %>